/* Fuentes de Bendita Pizza */
@font-face {
    font-family: 'FuturaBK';
    src: url(fonts/FutuBK.ttf);
}

@font-face {
    src: url("../fonts/poppins.ttf");
    font-family: "Poppins";
}

/* Fin Fuentes de Bendita Pizza */

.barra{
    background-color: black;
    height: 90px;
    display: flex; /* Para alinear los elementos horizontalmente */
    justify-content: space-between; /* Distribuye el espacio disponible */
    align-items: center; /* Para centrar los elementos verticalmente  */
} 

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /*Alinea el contenido al inicio (izquierda) */
}

.logo img {
    max-height: 75px; 
    margin-left: 20px;
}

nav ul {
    list-style: none; /* Para quitar los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Para alinear los elementos horizontalmente */
}

nav li {
    margin-right: 20px; /* Para agregar espacio entre los elementos */
}

nav .bt-reservar {
    background-color: #FFC221;
    color: black;
    border: 2px solid #FFC221; /* Agregar un borde de 2px de ancho en color amarillo */
    font-weight: bold;
    font-family: "Poppins";
    font-size: 18px;
    border-radius: 20px; /* Hacer que los bordes sean redondeados */
    padding: 8px 15px; /* Agregar un poco de espacio interno para que el borde no toque el texto */
}

nav a {
    color: #fff; 
    text-decoration: none; /* Para quitar el subrayado de los enlaces */
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    font-family: "Poppins";
} 

.separador {
    height: 20px;
    background-color: #FFC221;
}

/* Hover animations*/
nav a:hover {
    transform: scale(1.2);
    color: #FFC221;
}

nav .bt-reservar:hover{
    color: white;
    background-color: transparent;
}

.btn:hover{
    color: white;
    border: 4px solid #FFC221;
}

.buto:hover{
    transform: scale(1);
    color: white;
    background-color: transparent;
}

.columna-footer a:hover{
    font-weight: bold;
}

.footicons a:hover{
    transform: scale(1.5);
}

/* Fin Hover animations */
/* Footer */
footer {
    background-color: #202020;
    color: #fff;
    padding: 40px 0;
}

.columnas-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.columna-footer h2 {
    font-size: 21px;
    color: #FFC221;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.columna-footer ul {
    list-style: none;
    padding: 0;
}

.columna-footer a {
    font-size: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.texto-footer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    justify-content: center;
    padding: 10px;
}

.footicons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footicons a {
    padding: 0px 0px 0px 0px;
}

.footicon{
    padding: 0px 5px 0px 5px;
    color: white;
    font-size: 20px;
}

.fa-facebook {
    font-size: 18px;
}

.footlogo {
    display: flex;
    justify-content: center;
}

.footlogo img {
    max-height: 75px; 
}

/* Estilos slide carousel */
#demo i{
    font-size: 50px;
    color: #FFC221;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

.no-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    text-align: center;
    padding: 20px;
}

.carousel-textgr h2 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

.firstyellow {
    color: #FFC221;
}

.carousel-textgr a {
    margin-top: 10px;
    padding: 8px 15px; /* Agregar un poco de espacio interno para que el borde no toque el texto */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFC221;
    color: black;
    border: 2px solid #FFC221; /* Agregar un borde de 2px de ancho en color amarillo */
    font-weight: bold;
    border-radius: 20px; /* Hacer que los bordes sean redondeados */
}

.carousel-text {
    color: #fff;
}

.carousel-text h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-text a {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFC221;
    color: black;
    border: 2px solid #FFC221; /* Agregar un borde de 2px de ancho en color amarillo */
    font-weight: bold;
    border-radius: 20px; /* Hacer que los bordes sean redondeados */
    padding: 8px 15px; /* Agregar un poco de espacio interno para que el borde no toque el texto */
}

/* noticias/productos */
.noti {
    display: flex;
    background-color: #2D2D2D;
    height: 750px;
    align-items: center;
}

.noti-titulo {
    color: #FFC221;
    font-family: 'FuturaBK', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 75px;
    padding: 10px 30px;
}

.noti-desc {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-size: 32px;
    padding: 0px 15px 10px 30px;
}

.noti-img {
    flex: 1;
    height: 100%;
}

.noti-img img {
    height: 100%;
    object-fit: cover;
}

.buto {
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #FFC221;
    color: black;
    border: 2px solid #FFC221;
    font-weight: bold;
    border-radius: 20px; 
    margin: 30px 50px;
}

/* Menu */
.galeria{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #393939;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenido h3{
    color: #FFC221;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.contenido {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #202020;
}

.contenido:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.contenido img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.contenido p{
    text-align: center;
    padding-top: 0 8px;
}

.contenido h6{
    font-size: 26px;
    text-align: center;
    margin: 0;
}

@media(max-width:1000px){
    .contenido{
        width: 45%;
    }
}
@media(max-width:750px){
    .contenido{
        width: 100%;
    }
}

/* fin menu */
/* galeria de fotos */
.mosaico{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    padding: 10px;
}

.mosaico img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall{
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

/* fin galeria de fotos */
/* noticias */
.newsfeed-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2D2D2D;
    font-family: "Poppins", sans-serif;
}
  
.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px;
    width: 48%;
    max-width: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.news-item:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
    transform: scale(1.1);
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-item h3 {
    font-size: 30px;
    margin: 10px 0;
    color: white;
}

/* Estilos para mostrar la descripción completa al hacer click en el botón */
.news-item.active .description {
    display: block;
}
/* fin noticias */
/* sucursales */
.reservar {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.reservar h1 {
    color: white;
    font-weight: bold;
}

.reservar a{
    color: white;
    font-size: 23px;
    text-transform: capitalize;
    background-color: #FFC221;
    color: black;
    font-weight: bold;
    border-radius: 20px; 
    margin-bottom: 20px;
}

.map iframe{
    width: 600;
    height: 450;
    border-radius: 10px 10px 10px 10px;
}
/* fin sucursales */
/* Entrega uber eats didi */
.imgDeliv{
    max-width: 100%;
    height: auto;
}

.imgLogo{
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
}

.imgLogo:hover{
    transform: scale(1.1);
    padding-bottom: 20px;
}

.imgEntrega a {
    position: absolute;
}

.imgEntrega{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fin entrega */
/* Custom scrollbar */
::-webkit-scrollbar { /* width */
    width: 8px;
}
    
::-webkit-scrollbar-track { /* Track */
    background: black;
}
    
::-webkit-scrollbar-thumb { /* Handle */
    background: #FFC221;
}
    
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
/* fin custom scrollbar */
/* boton para regresar */
#btnRegresar{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFC221;
    cursor: pointer;
    font-size: 40px;
}

#btnRegresar:hover{
    color: white;
    transform: scale(1.2);
}
/* fin boton para regresar */
/*Historia*/
.historia {
    background-color: #202020;
    color:white;
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 20px;
}

.historia h1{
    color: #FFC221;
    margin-bottom: 1cm;
}

.imagenhistoria img{
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 100px;

}

.historiadesc {
    text-align: justify;
  }

  .historiadesc p:nth-child(2) {
    text-align: right;
  }


/*Fin Historia*/

/*Acerca de*/
.acerca {
    background-color: #202020;
    color:white;
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 20px;
}

.acerca h1{
    color: #FFC221;
    margin-bottom: 1cm;
}

.imagenacerca img{
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 70px;

}

/*Fin Acerca de*/