/* Fuentes de Bendita Pizza */
@font-face {
    font-family: 'FuturaBK';
    src: url(fonts/FutuBK.ttf);
}

@font-face {
    src: url("../fonts/poppins.ttf");
    font-family: "Poppins";
}

/* Fin Fuentes de Bendita Pizza */
.cont {
    margin-left: 100px;
}

body {
    background-image: linear-gradient(60deg, #FFC221, #919191);
}
/* barra de navegacion admin */
.sidebar {
    position: fixed;
    width: 80px;
    /* height: 100%; */
    background-color: black;
}

.sidebar:hover {
    width: 200px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    position: relative;
}

.sidebar a {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}

.sidebar a:hover {
    background-color: #FFC221;
    justify-content: space-between;
    color: black;
}

.sidebar i {
    font-size: 24px;
    padding: 20px;
}

.sidebar span {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.sidebar li:hover span {
    display: block;
    left: 80px;
}

/* fin barra de navegación admin */
/* categorias */
.contTabla {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
}

.contTabla thead {
    background-color: #FFC221;
    color: black;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.contTabla th,
.contTabla td {
    padding: 12px 15px;
}

.contTabla tbody tr {
    border-bottom: 1px solid white;
}

.contTabla tbody tr:nth-of-type(odd){
    background-color: rgb(255, 250, 243);
}

.contTabla tbody tr:nth-of-type(even){
    background-color: bisque;
}

.contTabla tbody tr:last-of-type {
    border-bottom: 2px solid #FFC221;
}

.catego {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.catego h2 {
    font-family: "Poppins", sans-serif;
    padding: 20px 10px 10px 10px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.formAgregar {
    background-color: #262626;
    color: white;
    border: 1px solid #ccc;
    margin: 25px 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
}

.fmodif{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

.formModificar {
    transform: scale(1.1);
    background-color: #262626;
    color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
}

.formModificar td {
    font-size: 18px;
    color: white;
}

.fmodif h2 {
    font-family: "Poppins", sans-serif;
    padding: 20px 10px 10px 10px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.formAgregar td {
    font-size: 18px;
    color: white;
}

.formAgregar th, td {
    padding: 5px;
}

.fa-regular, .fa-sharp {
    color: #FFC221;
    font-size: xx-large;
}

.fa-regular:hover, 
.fa-sharp:hover {
    color: #F57C00;
    transform: scale(1.2);
}

.contTabla img {
    width: 150px;
    height: auto;
}

/* fin categorias */
/* Sign in */
.formIniciar{
    background-color: #505050;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formIniciar img{
    width: 120px;
    height: 120px;
    margin-bottom: 50px;
}

.register {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 250px black;
    border-radius: 20px;
    padding: 50px 40px;
    text-align: center;
    max-width: 500px;
    transform: scale(1.1);
}

input[type='email'], input[type='password'], input[type='text'] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type='email']:focus, input[type='password']:focus, input[type='text']:focus {
    background-color: #fff;
    border: 2px solid #FFC221;
    outline: none;
}

input[type='submit'] {
    background-color: #FFC221;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type='submit']:hover {
    color: white;
    background-color: transparent;
    border: 3px solid #FFC221;
    font-weight: bold;
}

.register p {
    margin-top: 50px;
}

.register a {
    color: #FFC221;
}

#btnSalir {
    position: fixed;
    top: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFC221;
    cursor: pointer;
    font-size: 40px;
}

#btnSalir:hover{
    color: white;
    transform: scale(1.2);
}

.alert {
    margin-top: 10px;
}
/* fin sign in */
/* Custom scrollbar */
::-webkit-scrollbar { /* width */
    width: 8px;
}
    
::-webkit-scrollbar-track { /* Track */
    background: black;
}
    
::-webkit-scrollbar-thumb { /* Handle */
    background: #FFC221;
}
    
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
/* fin custom scrollbar */